body {
    display: flex;
    justify-content: flex-start;
    padding-left: 10%;
    padding-right: 10%;
    height: 100vh;
}

img {
    width: 50vh;
    height: 100%;
}

.content {
    width: 100%;
    height: 35%;
    padding-left: 5%;
    background-color: rgb(233, 233, 240);
}

.action {
    width: 100%;
    height: 30%;
    padding-left: 5%;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .form-row {
    display: flex;
    gap: 70px;
  }
  
  
  
  label {
    display: block;
    margin-bottom: 3px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  input {
    padding: 10px;
    margin-bottom: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    height: 15px;
    outline: none;
  }
  
  button {
    margin-top: 30px;
    padding: 15px 40px;
    border-radius: 10px;
    background-color: rgb(170, 85, 231);
    color: aliceblue;
    font-weight: bolder;
  }
  

.login {
    color: rgb(170, 85, 231);;
}

span {
    font-style: italic;
}
 p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
 }

.top {
    padding-top: 20%;
    padding-right: 22%;
}
:focus {
    border-color: rgb(111, 208, 244);
    box-shadow: 1px -1px -10px;
}

:invalid {
    border-color: red;
}

#message {
    padding-top: 21%;
    margin-left: -40px;
}


#registrationForm {
    display: block;
}

#messageContainer {
    padding-left: 420px;
    margin-top: -35px;
}